# Logs
logs
*.log
npm-debug.log*
edge-functions/api/sync.js

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# Database files
/*.db
/electerm-sync.json

# Tencent Cloud EdgeOne
.env
.edgeone/*
.tef_dist/*
  